section.about
  h2.hidden О нас
  p.about__title 
    | Магазин Глэйси — это онлайн- и офлайн-магазин по продаже мороженого собственного
    br
    | производства на развес
  ul.about__list
    li.about__item
      p Все наше мороженое изготавливается на собственном производстве, с использованием современного оборудования и проверенных временем технологий.
    li.about__item
      p Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья. 
    li.about__item
      p Закупка ингредиентов  производится только у проверенных фермерских хозяйств и компаний, с которыми нас связывает долговременное сотрудничество.
    li.about__item
      p  Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает мороженому растаять в пути и позволяет сохранить превосходный вкус.