section.blog
  h2.hidden Блог
  ul.blog__list
    li.blog__item
      article.blog__card
        p.blog__card__new Новое в нашем блоге
        h3.blog__card__title 
          | 10 способов сервировки 
          br
          | фруктовых щербетов 
          br
          | к столу
      a.link(href="#") 
    li.blog__item
      form.blog__subscribe 
        p Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого вкусного, что у нас происходит. Обещаем не спамить и не слать всякой ненужной ерунды. Честно =) 
        label.hidden(for="mailing") Ваш email
        input#mailing(type="email", placeholder="email@example.com")
        button.btn_medium(type="submit") Отправить