main 
  section.catalog
    include ../utils/crumbs.pug
    h2.title Сливочное мороженое
    include ../utils/filters.pug
    - let catalogList = ["Сливочное с апельсиновым джемом и цитрусовой стружкой", "Сливочно-кофейное с кусочками шоколада", "Сливочно-клубничное с присыпкой из белого шоколада", "Сливочное крем-брюле с карамельной подливкой", "Сливочное с брусничным джемом", "Сливочно-черничное с цельными ягодами черники", "Сливочно-лимонное с карамельной присыпкой", "Сливочное с шоколадной стружкой", "Сливочно-ванильное с кусочками шоколада", "Сливочноe с ментоловым сиропом", "Сливочное с кусочками черного шоколада", "Сливочное с мятным сиропом"]; 
    ul.catalog__list
      each item in catalogList
        li.catalog__card
          p.catalog__price 310 &#8381;
            span /кг 
          img.catalog__image(src=require(`../../images/ice${catalogList.indexOf(item)+1}.jpg`), width="267" height="267", alt=`${catalogList}`)
          h3.catalog__title= item
          a.link(href="#") 
    include ../utils/pagination.pug