section.catalog 
  h2.hidden Каталог
  - let catalogList = ["Сливочное с апельсиновым джемом и цитрусовой стружкой", "Сливочно-кофейное с кусочками шоколада", "Сливочно-клубничное с присыпкой из белого шоколада", "Сливочное крем-брюле с карамельной подливкой"]; 
  ul.catalog__list
    each item in catalogList
      li.catalog__card  
        img.catalog__image(src=require(`../../images/ice${catalogList.indexOf(item)+1}.webp`), width="267" height="267" alt="" loading="lazy")
        p.catalog__price 310 &#8381;
          span /кг 
        h3.catalog__title= item
        a.link(href="#") 