section.map
  h2.hidden Карта
  .map__info
    .map__address
      p Адрес главного офиса и офлайн-магазина:
      address ул. Большая Конюшенная 19/8, Санкт-Петербург
    .map__tel
      p Для заказов по телефону:
      a(href="tel:+") 8 812 450-25-25
      p (с 10 до 20 ежедневно)
    button.btn_medium.map__request Форма обратной связи