section.promo
  h1.hidden Магазин мороженого собственного производства Глэйси
  .promo__info
    p С 10 до 20, ежедневно
    a(href="tel:+88124502525") 8 812 450-25-25
  p Крем-брюле и пломбир с малиновым джемом
  ul.thumb
    li.thumb__item 
    li.thumb__item 
    li.thumb__item 
  button.btn Давайте оба!