section.promo
  h1.hidden Магазин мороженого собственного производства Глэйси
  p.promo__text 
    | Крем-брюле и пломбир 
    br
    |с малиновым джемом
  p.promo__text 
    | Шоколадный пломбир
    br
    | и лимонный сорбет 
  p.promo__text 
    | Пломбир с помадкой
    br
    | и клубничный щербет
  ul.thumb
    li
      button.thumb__item.current 
    li
      button.thumb__item 
    li
      button.thumb__item 
  button.btn_large Давайте оба!