section.promo
  p.promo__text 
    | Крем-брюле и пломбир 
    br
    |с малиновым джемом
  p.promo__text 
    | Шоколадный пломбир
    br
    | и лимонный сорбет 
  p.promo__text 
    | Пломбир с помадкой
    br
    | и клубничный щербет
  ul.thumb
    li
      button#btn1.thumb__item.current(data-slide="slide1") 
    li
      button#btn2.thumb__item(data-slide="slide2") 
    li
      button#btn3.thumb__item(data-slide="slide3") 
  button.btn_large Давайте оба!