section.request
  h2.hidden Свяжитесь с нами
  button.close 
    img(src=require("../../images/cross-big.svg"), alt="Закрыть") 
  form
    fieldset
      legend.title Мы обязательно вам ответим!
      ul.request__list 
        li.request__item 
          label.hidden(for="req_name") Имя Фамилия
          input#req_name(type="text" placeholder="Имя Фамилия" required)
        li.request__item 
          label.hidden(for="req_email") E-mail
          input#req_email(type="email" placeholder="email@example.com" required)
        li.request__item 
          label.hidden(for="req_message") Сообщение
          textarea#req_message(cols="50" rows="5" placeholder="В свободной форме" required) 
    button.btn_medium Отправить
.fade 