header.main-header
  a(href="#"): img.logo(src=require("../images/logo.svg"), width="154" height="64" alt="Глейси")
  .toggle
    .toggle__line 
    .toggle__line 
    .toggle__line 
  nav.main-menu
    ul.main-menu__list
      li.main-menu__item 
        a(href="#") Каталог 
        ul.dropdown
          each item in ["Новинки", "Сливочное", "Щербеты", "Фруктовый лед", "Мелорин"]
            li.dropdown__item= item
              a.link(href="./catalog.html")
      each item in ["Доставка и оплата", "О компании"]
        li.main-menu__item: a(href="#")= item 
  .main-header__services
    include utils/search.pug
    include utils/login.pug
    include utils/cart.pug
  .main-header__info
    p С 10 до 20, ежедневно
    a(href="tel:+88124502525") 8 812 450-25-25