header.main-header
  img.logo(src=require("../images/logo.svg"), width="154", height="64" alt="Глейси")
  nav.main-menu
    ul.main-menu__list
      each item in ["Каталог", "Доставка и оплата", "О компании"]
        li.main-menu__item: a(href="#")= item 
    ul.flow-menu 
      each item in ["Новинки", "Сливочное", "Щербеты", "Фруктовый лед", "Мелорин"]
        li.flow-menu__item: a(href="./catalog.html")= item
  button.search 
  .search__wrap
    input(type="search", placeholder="Крем-брюле")
  include utils/login.pug
  button.cart Пусто
  include utils/cart.pug