main
  include sections/promo.pug
  include sections/banner.pug
  include sections/catalog_sub.pug
  include sections/about.pug
  include sections/blog.pug 
  include sections/map.pug 
  include sections/request.pug
  .fade