.cart__wrap
  table
    tbody
      tr
        td.card__delite &#215;
        td.cart__image: img(src=require("../../images/ice1.jpg"), width="33", height="33", alt="") 
        td.cart__title Пломбир с апельсиновым джемом
        td.cart__amount 1,5 кг х 
          span 200 руб.
        td.cart__summary 300 руб.
    tfoot
      tr
        td.card__total 300 руб.
  button.btn Оформить заказ