button.login.btn_transparent
  img(inline src=require("../../images/entrance.svg"), width="20", height="19", alt="") 
  | Вход
.login__wrap
  form.login__form(action="submit")
    fieldset
      ul
        li
          label.hidden(for="email") 
          input#email(type="email", placeholder="email@example.com")
        li 
          label.hidden(for="password") 
          input#password(type="password", placeholder="password")
    
  .login__info
    button.btn_medium Войти
  .login__service
    a(href="#") Забыли пароль?
    br
    a(href="№") Новая регистрация