button.login.btn_transparent
  include ../../images/entrance.svg
  | Вход
.login__wrap
  form.login__form(action="submit")
    fieldset
      ul.login__list 
        li.login__item
          label.hidden(for="email") 
          input#email(type="email" placeholder="email@example.com")
        li.login__item 
          label.hidden(for="password") 
          input#password(type="password" placeholder="******")
  .login__info
    button.btn_medium Войти
  .login__service
    a(href="#") Забыли пароль?
    br
    a(href="№") Новая регистрация