button.login.btn_transparent(title="Вход")
  include ../../images/entrance.svg
  | Вход
.login__wrap
  form.login__form(action="submit")
    ul.login__list 
      li.login__item
        label.hidden(for="email") Email
        input#email(type="email" placeholder="email@example.com" tabindex="-1" required)
      li.login__item 
        label.hidden(for="password") Пароль
        input#password(type="password" placeholder="******" tabindex="-1" autocomplete="new-password" required)
  .login__info
    button.btn_medium(tabindex="-1") Войти
  .login__service
    a(href="#" tabindex="-1") Забыли пароль?
    br
    a(href="№" tabindex="-1") Новая регистрация