@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "./variables.scss";
@import "./mixins.scss";
@import "./base.scss";
@import "./utils.scss";

@import "./header.scss";
@import "./sections.scss";
@import "./catalog.scss";
@import "./footer.scss";

@for $i from 1 through 3 {
  .slide#{$i} {
    background-position-x: center;
    background-repeat: no-repeat;
    background-image: url(../images/bg#{$i}.png);
    @include retina {
      background-image: url(../images/bg#{$i}-2x.png);
    }
    .promo__text:nth-of-type(#{$i}) {
      display: block;
    }
  }
}
.slide1 {
  background-color: $teal;
}
.slide2 {
  background-color: $blue;
}
.slide3 {
  background-color: $ash;
}
.menuOpen {
  .toggle {
    left: 90vw;
    top: 4vh;
    z-index: 10;
  }
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0);
    flex-direction: column;
    width: 80vw;
    height: 100vh;
    background-color: $teal;
    z-index: 10;
    visibility: visible;
    &__info {
      top: 80vh;
      right: 5vw;
    }
  }
  .main-menu {
    transform: translate(0);
    margin: 0;
    height: 60%;
    &__list {
      flex-direction: column;
      justify-content: flex-start;
      align-items: baseline;
      height: 100%;
    }
    &__item {
      margin-top: 16px;
    }
  }
  .fade {
    opacity: 1;
  }
}
