@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "./mixins.scss";
@import "./base.scss";
@import "./utils.scss";

@import "./header.scss";
@import "./sections.scss";
@import "./catalog.scss";
@import "./footer.scss";

.slide1 {
	background-color: $teal;
	body {
		background-image: url("../images/bgi1.jpg");
		.promo__text:nth-of-type(1) {
			display: block;
		}
	}
}
.slide2 {
	background-color: $blue;
	body {
		background-image: url("../images/bgi2.jpg");
		.promo__text:nth-of-type(2) {
			display: block;
		}
	}
}
.slide3 {
	background-color: $ash;
	body {
		background-image: url("../images/bgi3.jpg");
		.promo__text:nth-of-type(3) {
			display: block;
		}
	}
}
