%btn-gradient {
  color: $text;
  font-weight: 700;
  border-radius: 32px;
  box-shadow: $box-shadow;
  background-image: linear-gradient(to top, $tomato, $orange);
  transition: background-image $tr, box-shadow $tr;
  &:hover {
    box-shadow: $box-shadow_hover;
    background-image: linear-gradient(to top, $text_a, $text_a),
                      linear-gradient(to top, $tomato, $orange);
  }
  &:active, &:focus {
    box-shadow: inset $box-shadow_active;
    background: linear-gradient(to top, $text_a, $text_a), 
                linear-gradient(to top, $tomato, $orange);
  }
}
.btn {
  padding: 9px 9.5px;
  background-color: $text;
}
.btn_transparent {
  background-color: $text_a;
  font-weight: 500;
  color: $text;
  transition: background-color $tr;
  svg {
    fill: $text;
    transition: fill $tr;
  }
  &.active, &:hover, &:active, &:focus {
    color: $black;
    background-color: $text;
    svg {
      fill: $black;
    }
  }
}
.btn_medium {
  @extend %btn-gradient;
  padding: 13px 25px;
  font-size: 1.125rem;
}
.btn_large {
  @extend %btn-gradient;
  padding: 15px 30px;
  font-size: 2rem;
}
.login, .cart, .search {
  margin-left: 7px;
  &__wrap {
    position: absolute;
    top: 65px;
    display: none;
    width: 100%;
    padding: 20px 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: $text;
    box-shadow: $dropdown-shadow;
    border-radius: 8px;
    z-index: 1;
  }
}
.login, .cart {
  padding: 8px 16px;
  border-radius: 16px;
  svg, img {
    margin-right: 0.5rem;
  }
}
.search {
  padding: 9px 9.5px;
  border-radius: 50%;
  &__wrap {
    right: 14vw;
    max-width: 345px;
  }
}
.login {
  &__wrap {
    right: 7vw;
    max-width: 288px;
  }
  &__form {
    flex: 0 0 100%;
    margin-bottom: 17px;
  }
  &__info {
    flex: 50%;
  }
  &__service {
    color: $black;
    font-size: 14px;
    flex: 50%;
    a {
      border-bottom: 1px solid #000;
    }
    
  }
}
.cart {
  &__wrap {
    right: 0;
    max-width: 540px;
    color: $black;
  }
}
.table {
  &__foot {
    width: 100%;
    button {
      margin-left: auto;
    }
  }
  &__total {
    padding: 14px 0;
    border-top: 1px solid $grey;
    font: {
      size: 15px;
      weight: 700;
    }
    text-align: right;
  }
}
.row {
  display: grid;
  margin-bottom: 1rem;
  grid-template-columns: 0.5fr 0.5fr 4fr 2fr 1fr;
  grid-gap: 15px;
  align-items: center;
  font-size: 13px;
  &__image img {
    border-radius: 50%;
  }
  &__amount {
    span {
      color: $black_a;
    }
  }
}
.logo {
  margin-right: 24px;
}
.dropdown {
  position: absolute;
  display: none;
  top: 65px;
  flex-direction: column;
  background-color: $text;
  box-shadow: $dropdown-shadow;
  border-radius: 8px;
  &__item {
    padding: 0 15px;
    font-size: 0.875rem;
    line-height: 2.8;
    color: $black;
    transition: background-color $tr;
    &:first-of-type {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      &::after {
        content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.2);
      }
    }
    &:last-of-type {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    &:hover {
      background-color: $pink_pale;
    }
  }
}
.thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  &__item {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    border: 2px solid $text;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color $tr;
    &.current, &:hover, &:active {
      background-color: $text;
    }
  }
}
.hit {
  position: absolute;
}
.title {
  margin-bottom: 13px;
  font: {
    weight: 500;
    size: 1.5rem;
  }
}
.close {
  position: absolute;
  top: 5%;
  right: 5%;
}
.social {
  display: flex;
  &__item {
    & + & {
      margin-left: 10px;
    }
    img {
      border: 2px solid rgba(255, 255, 2555, 0.5);
      border-radius: 50%;
    }
  }
}
.copyright {
  font-size: 0.75rem;
}
.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0) {
    path: inset(50%);
  }
}
.fade {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: $black_a;
  opacity: 0;
  transition: opacity $tr;
  pointer-events: none;
  z-index: 2;
}