$text: #ffffff;
$text_sh: rgba(160, 32, 11, 0.76);
$text_a: rgba(255, 255, 255, 0.2);

$black: #323232;
$black_a: rgba(0, 0, 0, 0.4);

$grey: #d3d3d2;
$tomato: #e74a35;
$orange: #f26843;

$grey-brown: #5a5a5a;
$terracota: #d07058;

$pink_pale: #fbded8;

$teal: #849d8f;
$blue: #8996a6;
$ash: #9d8b84;

$dropdown-shadow: 0 20px 20px 0 $black_a;
$box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
$box-shadow_hover: 0 2px 2px 0 #ac1000;
$box-shadow_active: 0 2px 2px 0 #942718;
$tr: 0.4s cubic-bezier(0.36, 0.33, 0, 1);
